<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet'  href='/stylesheets/home.css' type="text/css"> 
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <div class="max-w">
        <ul class="menu">

            <li> <a class="li" href="#">Home</a></li>
            <li> <a class="li" href="#">About Us</a></li>
            <li> <a class="li" href="/events">Posts</a></li>
            <!-- <li> <a class="li" href="# 3
                ">Photo Gallery</a></li> -->
            
            
        </ul>
        </div>
    </nav>
  
    <section class="main">
        <h1 class="h1">Helping Nation</h1> 
        <p class="p"><b> <h3>Helping The World During Their Though Times<h3></b> </p>
        <a href="/register" class="btn btn-lg">Help Now</a>
     </section>
    
    
     <p class="wel">Welcome</p>



     <section class="osep">
        <div id="ss">
        <h2 class="special">Join With Us: </h2>
        <div id="colorser">
        <div id="sp">
        <div class="box">
            <a href="/register">
            <h2>Be A Volunteer</h2>
            </a>
        </div>

        <div class="box">
            <a href="/register">
            <h2>Be A Philanthropist </h2>
            </a>
        </div>
        </div>
        </div>
        <p class="mission"><b>OUR MISSION STATEMENT</u></b>
            <br><br>
            <p class="missionin">
            Create a world where no child goes to bed hungry.
            <br><br>
            A world where everyone has a decent place to live.
            <br><br>
            A nation in which everyone can get the healthcare they need.
            <br><br>
            A world in which all people have pathways to health and opportunity.
            <br><br>
            A world in which every child attains the right to survival, protection, development and participation.
            <br><br>
            A world free of debilitating diseases where all people are protected by strong public health systems.

                </p>
        </p>


        <div id="conct">   
            <h2 class="oc">Contact Us</h2>
            
        </div>
        
        



        

        <footer>
    
            <b>
                <a  class="f" href="#">Policy</a>
                
                <a class="f"  href="#">&copy; Copyrights Reserved | 2022</a>
            </b>
        
    </footer>


     



    
</body>
</html>